.wd-profile-sidebar {
    width: 200px;

    .list-group-item {
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        color: red;
        border-radius: 0px;
    }

    .list-group-item:hover {
        background:white
    }


    .selected {
        color: black;
        border-left-width: 3px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-color: black;
    }
}

.list-group-item {
    color: red;
    padding-top: 4px;
    padding-bottom: 4px;
}

.wd-bg-blue {
    background-color: lightblue;
}

.wd-home-top-bar {
    margin-top: 10px;
}

.wd-home-top-bar-small {
    background-color: black;
    height: 100px;
}
