.module-group-item {
    font-size: 18px;
    color: black;
    border-left-color: green;
    border-left-width: 5px;
    border-radius: 0px;
}

.module-group-title {
    font-size: 18px;
    color: black;
    border-radius: 0px;
}

.list-group {
    border-radius: 0px;
}

.module-item-indent {
    padding-left: 50px;
}

.list-group-item-secondary {
    height: 50px;
    padding-top: 10px;
}

.button-bar-margin {
    margin-bottom: 20px;
}

.tr-button {
    margin-right: 10px;
}

.top-bar-small {
    background-color: black;
    height: 100px;
    color: white;
}

.published-button {
    color:white;
    background-color: greenyellow;
}

.btn-secondary {
    background-color: #e2e3e5;
    color: black;
}

.wd-red-link {
    text-decoration: none;
    color: red;
}

