.wd-btn-top {
    background-color: lightgray;
    color:black;
}

.wd-border-box {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin: 5px;
}

.wd-assignment-name {
    text-align: center;
}

.wd-assignment-points {
    text-align: center;
    font-size: 14px;
}

.wd-table-student-name {
    color: red;
}

.wd-red-link {
    color: red;
    text-decoration: none;
}

.wd-black-link {
    color: black;
    text-decoration: none;
}